header {
  border-bottom: 2px solid rgb(233, 229, 229);
  padding: 20px;
}
footer {
  padding: 7px 20px;
  background-color: rgb(213, 230, 248);
  text-align: center;
}
a {
  color: rgb(156, 213, 56);
}
body {
  background-color: rgb(228, 235, 207);
  font-family: "Bungee Spice", sans-serif;
  font-family: "Fasthand", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-family: "Varela Round", sans-serif;
  padding-top: 80px;
}
.app-box {
  background-color: aliceblue;
  width: 800px;

  margin: 60px auto;

  padding: 40px;
  box-shadow: 0 30px 50px rgb(194, 196, 188);
}

search-form {
  font-weight: bold;
  font-size: xx-large;
}
.search-form-input {
  background-color: rgba(227, 246, 216, 0.998);
  width: 600px;
  padding: 20px;
  border: none;
  border-radius: 6px;
  padding-left: 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(156, 213, 56);
  width: 130px;
  padding: 20px 20px;
  border: none;
  border-top: 1px;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
}
.weather-data {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: 10px;
}
main {
  padding: 0px 0px;
}
.weather-city-heading {
  font-size: 60px;

  color: rgb(118, 162, 118);
  line-height: 48px;
}
.weather-city-details {
  margin: 10px;
  font-size: 16px;
  color: gray;
  line-height: 30px;
}
.weather-city-details strong {
  color: RGB(204, 132, 132);
  font-size: 20px;
}

.weather-city-temp {
  color: rgb(118, 162, 118);
  font-size: 105px;
  margin-left: 20px;
}
.weather-temp-group {
  display: flex;
  margin-top: 30px;
}
.weather-city-degresicon {
  color: rgb(118, 162, 118);
  font-size: 50px;
}

#icon img {
  height: 150px;
  width: 150px;
}
.bee-image {
  display: flex;
  margin-left: 25%;
  font-size: 50px;
}
.weather-forcast {
  margin-top: 20px;
  margin-left: 60px;
  text-align: center;
}

.weather-forcast-temp {
  margin-left: 60px;
  font-size: 16px;
  color: darkgray;
}
.weather-forcast-date {
  font-size: 16px;
  color: darkgray;
}
.forcast-temp-max {
  margin-left: 60px;
  font-size: 13px;
  color: darkgray;
}
.forcast-temp-min {
  margin-left: 60px;
  font-size: 13px;
  color: darkgray;
}
.weather-forecast {
  display: inline-flex;
}

.col2 {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
.weather-forecast-date {
  text-align: center;
}
.weather-city-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
}

.weather-forecast-temp {
  text-align: right;
  display: flex;
  color: RGB(204, 132, 132);
}
.forecast-temp-max {
  text-align: right;
  display: flex;
  font-weight: bold;
  color: RGB(204, 132, 132);
  margin-right: 15px;
}
.forecast-temp-min {
  text-align: right;
  display: flex;
  color: RGB(204, 132, 132);
}
